:root {
    --preto: #000000;
    --verde: #588157;
    --verdinho: #F1FAEE;

}
.cabecalho{
    background-color: var(--verde);
    display: flex;
    justify-content: space-between;
}

.menu-item{
    display: inline-block;
    padding: 5px;
    color:chocolate ;

.logo{
    width: 10%
}